<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <div class="container">
        <!--Displaying the heading of home page-->
        <div class="heading">
            <h1><img src="https://see.fontimg.com/api/renderfont4/9Y2DK/eyJyIjoiZnMiLCJoIjo3MiwidyI6MTAwMCwiZnMiOjcyLCJmZ2MiOiIjNzBBNURFIiwiYmdjIjoiI0YzRUNGMyIsInQiOjF9/U3RhcnQgeW91ciBkYXkgb3JnYW5pemVkIGFuZCBwcm9kdWN0aXZlLg/nature-beauty-personal-use.png" alt="Cursive fonts"></h1>
        </div>
        <div class="content">
            <!--Displaying the illustration image on home page-->
            <div class="illustration">
                <img src="/images/home-page-illustration.jpg"  alt="illustration">
            </div>
            <div class="btn-div">
                <!--Display the sub heading and a button-->
                <h3><img src="https://see.fontimg.com/api/renderfont4/4BWoK/eyJyIjoiZnMiLCJoIjozMSwidyI6MTAwMCwiZnMiOjMxLCJmZ2MiOiIjQkI4MEYwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/WW91ciB0by1kbyBsaXN0LCB5b3VyIGNvbW1hbmQgY2VudGVyLg/buster-down.png" alt="Cursive fonts"></h3>
                <!--On click button takes the user to todo page-->
                <div class="btn"><a href="/todo">Get Started</a></div>
            </div>
        </div>
    
    </div>
    
   
</body>
</html>