/* Adding background to the app homepage */
body{
    background-image: url(https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8189.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}   
.container{
    width: 100vw;
    height:100vh;
    padding:.5em;
    margin:.5em;

}

/* Adjusting the heading and illustration */
.heading h1{
    text-align: center;
}
.content{
    margin-left: 3em;
    width:80%;
}
.illustration{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
.illustration img{
    width:40vw;
    height: fit-content;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Adusting the button and subheading  */
.btn-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-div .btn{
    height:50px;
    width: 150px;
    background-color: rgb(210, 114, 248);
    text-align: center;
    border-radius: 50px;
}
.btn-div .btn a{
    display: inline-block;
    text-decoration: none;
    border:2px;
    padding:15px;
}
